@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);
.color{

    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(236,22,22,1) 45%, rgba(252,176,69,1) 100%);
}

.list-inline{
    display: inline;
}
#services .services-top {
    padding: 70px 0 50px;
}
#services .services-list {
    padding-top: 50px;
}
.services-list .service-block {
    margin-bottom: 25px;
}
.services-list .service-block .ico {
    font-size: 38px;
    float: left;
}
.services-list .service-block .text-block {
    margin-left: 58px;
}
.services-list .service-block .text-block .name {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 5px;
}
.services-list .service-block .text-block .info {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
}
.services-list .service-block .text-block .text {
    font-size: 12px;
    line-height: normal;
    font-weight: 300;
}
.highlight {
    color: #2ac5ed;
    font-weight:bold;
}                

.our_pricing {
    background-image: url(https://www.bootdey.com/image/280x280/9370DB/000000);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    margin-top:120px;
    padding:20px;
}

@media only screen and (max-width:480px) {
    .our_pricing {
        background-size: auto;
    }
}

.pricingTable {
    background: #fff none repeat scroll 0 0;
    color: #232434;
    margin-top: 30px;
    padding: 50px 15px;
    box-shadow: 0px 19px 43px 0px rgba(17, 17, 17, 0.05);
    perspective: 700px;
    position: relative;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
    z-index: 1;
}

@media only screen and (max-width:480px) {
    .pricingTable {
        margin-bottom: 60px;
    }
}

.pricingTabletop {
    margin-top: -30px;
}

.pricingTable .pricingTable-header {}

.pricingTable .title {
    display: block;
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out 0s;
}

.pricingTable .price-month {
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
}

.pricingTable .price-value {
    font-size: 170px;
    line-height: 112px;
    position: relative;
    color: #e4f1ff;
    margin: 40px 0;
}

@media only screen and (max-width:768px) {
    .pricingTable .price-value {
        font-size: 130px;
    }
}

.pricingTable .price-value .value-bg {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #1386fc;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
}

.pricingTable-2 .price-value {
    color: #e6e4ff;
}

.pricingTable-2 .price-value .value-bg {
    color: #7564e5;
}

.pricingTable .pricing-content {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.pricing-content-border {}

.pricing-content-border>li {
    border: 1px solid #eee;
    margin-bottom: 10px;
}

.pricingTable .pricing-content li {
    line-height: 40px;
}

@media only screen and (max-width: 990px) {
    .pricingTable {
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 767px) {
    .pricingTable {
        margin-bottom: 50px;
    }
}

.btn-price-bg {
    background: #7564e5;
    border: 2px solid #7564e5;
    border-radius: 5000px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    overflow: hidden;
    padding: 12px 40px;
    text-transform: capitalize;
    transition: all 0.3s ease 0s;
}

.pricingTable:hover .btn-price-bg {
    background: #232434;
    color: #fff;
    border: 2px solid #232434;
}

.section-title {
    margin-bottom: 60px;
}

h1.section-title-white {
    color: #fff;
}
.section-title h1 {
    font-size: 44px;
    font-weight: 500;
    margin-top: 0;
    position: relative;
    text-transform: capitalize;
    margin-bottom: 15px;
}
p.section-title-white {
    color: #fff;
}
.section-title p {
    padding: 0 10px;
    width: 70%;
    margin: auto;
    letter-spacing: 1px;
}
/* Importing fonts from Google */

/* Reseting */
* {
    
    font-family: 'Poppins', sans-serif;
}


@keyframes background-color {
    0% {
        background: linear-gradient(to bottom, #000428, #004683);
    }

    25% {
        background: linear-gradient(135deg, #1a4223, #5ee95e);
    }

    50% {
        background: linear-gradient(to bottom, #421a31, #e95ed2);
    }

    100% {
        background: linear-gradient(-135deg, #fae37d, #881da8, #20668f);
    }

}

.container {
    margin-top: 80px;
}

.container .col-lg-4 {
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    perspective: 500px;
    border: none;
    background-color: inherit;
}

.card .face {
    position:#7564e5;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.06);
    transform-style: preserve-3d;
    transition: 0.5s;
    backface-visibility: hidden;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    /* border-right: 1px solid #999;
border-bottom: 1px solid #999; */
}

.card .face.front-face,
.card .face.back-face {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .face.front-face .profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
}

.card .face.front-face .name {
    letter-spacing: 2px;
}

.card .face.front-face .designation {
    font-size: 0.8rem;
    color: #7564e5;
    letter-spacing: 0.8px;
}

.card:hover .face.front-face {
    transform: rotateY(180deg);
}

.card .face.back-face {
    position: absolute;
    background: rgba(255, 255, 255, 0.06);
    transform: rotateY(180deg);
    padding: 20px 30px;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.card .face.back-face .fa-quote-left {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 1.2rem;
}

.card .face.back-face .fa-quote-right {
    position: absolute;
    bottom: 35px;
    right: 25px;
    font-size: 1.2rem;
}

.card:hover .face.back-face {
    transform: rotateY(360deg);
}

@media(max-width: 991.5px) {
    .col-lg-4 {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}
